{% extends 'base.html' %}

{%block content%}
{{post.title}}<br>

{%if post.image%}
<img src="{{post.image}}" \><br>
{%endif%}

{{post.body}}

{%for comment in post.comment_set.all%}
	<div class="comentbody">
		<div>{{comment.user.username}}</div><br>
		<div>{{comment.body}}</div><br>
	</div>
{%endfor%}

<form method="POST" action="/blog/detail/{{post.id}}/">
{%csrf_token%}
	
{{form.as_p}}

<input type="submit" value="submit">
<input type="button" id="{{post.id}}" value="submit" class="addcomment" \>
</form>
{%endblock content%}
