{%for post in popular_posts%}
 <div class="cat_style_item cat_style_3_item">
            <div class="cat_style_image">
                <div class="cat_style_photo">
                    <a href="#123">
                        <img src=
                        {%if post.image%}

                        "/static/assets/{{post.image}}" 
                        {%else%}
                        "/static/assets/images/default.png"
                        {%endif%}
                        class="attachment-mini wp-post-image" alt="Popular" title="Post with comments">
                    </a>
                </div>
            </div>
            <div class="speacer"></div>
            <div class="cat_style_info">
                <h3>
                    <a href="{{post.get_absolute_url}}">{{post.title|title|truncatewords_html:"6"}}</a>
                </h3>
                <div class="meta-info">&nbsp;&nbsp;{{post.pub_date|timesince}}&nbsp;&nbsp;</div>
            </div>
            <div class="clear"></div>
        </div>

{%endfor%}


