{% extends "base_with_structure.html" %}
{% load blog_tags %}

{% block content %}
    {% for news in news_list %}
        <div class="blog_section">
            <div class="blogs">
                <!-- news image begin -->
                <div class="cat_style_image">
                    {% if news.image %}
                    <img src="/static/assets/{{news.image}}">
                    {% else %}
                    <img src="/static/assets/images/default.png">
                    {% endif %}
                </div>
                <!-- news image end -->
                <div class="speacer"></div>
                <div class="cat_style_info">
                    <h3>
                        {{news.title|title}}
                    </h3>
                    <span>{{news.posted|date:"F j, Y @ f a"}}</span>
                    <p>
                        {{news.description|truncatewords_html:"20"|safe}}
                    </p>
                    <div class="readmore">
                        <a href="/news/detail/{{news.id}}">Read More </a>
                        <span class="fa fa-chevron-right"></span> 
                    </div>
                    <div class="meta-info">
                        <span class="fa fa-clock-o"></span> 
                        {{news.posted_on|timesince}} ago 
                    
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    {% empty %}
        <p>No newss yet!</p>
    {% endfor %}


    <!-- Pagination -->
   {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">&larr;prev</a>
                {% endif %}
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next&rarr;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% endblock %}


{% block popular_posts %}
{% get_latest_content news.News 5 as popular_posts %}
    {% for post in popular_posts %}
        <div class="cat_style_item cat_style_3_item">
            <div class="cat_style_image">
                <div class="cat_style_photo">
                    <a href="#123">
                        <img src="/static/assets/{{post.image}}" class="attachment-mini wp-post-image" alt="Popular" title="Post with comments">
                    </a>
                </div>
            </div>
            <div class="speacer"></div>
            <div class="cat_style_info">
                <h3>
                    <a href="#123">{{post.title|title|truncatewords_html:"6"}}</a>
                </h3>
                <div class="meta-info">&nbsp;&nbsp;{{post.pub_date|timesince}}&nbsp;&nbsp;</div>
            </div>
            <div class="clear"></div>
        </div>
    {% endfor %}
{% endblock %}



{% block recent_comments %}
{% get_latest_content blog.Comment 5 as recent_comments %}
    {% for comment in recent_comments %}
        <div class="cat_style_item cat_style_3_item comment_style_item">
            <div class="cat_style_image">
                <div class="cat_style_photo">
                    <a href="#123">
                        <img src="static/assets/images/comments.png" alt="Comment" title="Merrasse Mouhcine" />
                    </a>
                </div>
            </div>
            <div class="speacer"></div>
            <div class="cat_style_info">
                <h3>
                    <a href="#123">{{comment.body}}</a>
                </h3>
                <div class="meta-info">
                    <span class="fa fa-clock-o"></span>&nbsp;&nbsp;{{comment.pub_date|date:"F j, Y"}}
                </div>
            </div>
            <div class="clear"></div>
        </div>
    {% endfor %}
{% endblock %}

