{% extends "base_with_structure.html" %}

{%load popular%}

{% load blog_tags %}
{% load staticfiles %}

{% block content %}


            <!-- post title -->
            <h1>
                <a href="#123" title="{{post.title}}">{{post.title|upper}}</a>
            </h1>
                <div class="meta-info">
                    Posted on {{post.pub_date}}
                     
                    <span class="fa fa-comments"></span>
                    <a href="#" title="Comment on Post with comments">{% if post.comment_set.all.count > 0 %}
                        <a href="{{post.get_absolute_url}}" title="{{post.comment_set.all.count}} comments">{{post.comment_set.all.count}} comment{{comment|pluralize}}</a>
                        {% else %}
                            No Comments
                        {% endif %}</a>
                </div>
            <br/>
            {%if post.image %}
            <img src="{% static post.image %}" alt="Post Image" width='inherit'; />
            {% endif %}
            

            <div class='vipress_like'>
                <div class='fb_page_share_widget'>
                <span class='st_twitter_hcount' displayText='Tweet'></span>
                <span class='st_facebook_hcount' displayText='Facebook Like'  ></span>
                <span class='st_plusone_hcount' displayText='Google +1'></span>
            </div>
        </div> 

        <div class="content_content">
            {{post.body|safe|linebreaks}}
        </div>
        </article>
        {% if post.tags.count %}
        <div class="meta-info">
                <span>Tags:</span>
                {% for tag in post.tags.all %}
                    <span class="tag">{{tag}}</span>
                {% endfor %}
        </div>
        {% endif %}
    </section>
    <!-- /section -->

  


<div class="comments">
    {% if post.comment_set.all %}
<h1>Comments</h1>
<!-- comment begin -->
{% for comment in post.comment_set.all %}



<div class="floatL w18">
    <a href="#">
        <img src= {% if comment.user.profile.image.url %}
                "{% static comment.user.profile.image %}"
            {% else %}
            "/static/images/comments.png"
        {% endif %}
            
         alt="Comment" title="{{comment.user.username}}" />
    </a>
</div>


  <div class="floatL w80">

  <h3>{{comment.user.username}}</h3>
  <div class="meta-info">
<span class="fa fa-clock-o"></span>
 {%if comment.time_hours > 0  %} 
    {{comment.pub_date}}                 
{%else%}
    {{comment.pub_date|timesince}} ago 
{%endif%}
<span class="fa fa-comments"></span>

</div>
  <p>{{comment.body | safe}}</p>
  </div>

  {% endfor %}
{% endif %}
<!-- comments end-->


  <form action="/blog/add_comment/{{post.id}}/" method="post" id="comments" name="contact-form">
<textarea aria-required="true" rows="5" cols="35" name="comment" id="comment"></textarea>
<input type="submit" value="Comments" class="submit-button" name="" id="submit-button">
  </form>
</div>

    {% endblock %}