{% extends "base_with_structure.html" %}

{%block content%}
<h1>{{post.title|title}}</h1>

{%if post.image %}
<img src="/static/assets/{{post.image}}" alt="Image" width=600px; \><br>
{% endif %}
<br>
<p>Published on: {{post.pub_date}}</p>
<p>{{post.body}}</p>

<hr>
{% if post.comment_set.all %}
<div class="commentbody">
{% for comment in post.comment_set.all %}
		<li><b>{{comment.user.username}}</b>: <span>{{comment.body}}</span><br></li>
{% endfor %}
</div>
{% else %}
	<p>No Comments yet. Add yours now.</p>
{% endif %}
<br>

<!-- Posting Comment -->
{% if user.is_authenticated %}
	<form method="POST" action="/blog/add_comment/{{post.id}}/">
		{{form.as_p}}
	<input type="submit" value="Comment">
	<input type="button" id="{{post.id}}" value="Ajax Submit" class="addcomment"\>
	</form>
{% else %}
<p>Kindly login/signup to add comments </p>
{% endif %}

{%endblock%}

{% block popular_posts %}
    {% for post in popular_posts %}
        <div class="cat_style_item cat_style_3_item">
            <div class="cat_style_image">
                <div class="cat_style_photo">
                    <a href="#123">
                        <img src="/static/assets/{{post.image}}" class="attachment-mini wp-post-image" alt="Popular" title="Post with comments">
                    </a>
                </div>
            </div>
            <div class="speacer"></div>
            <div class="cat_style_info">
                <h3>
                    <a href="#123">{{post.title|title|truncatewords_html:"6"}}</a>
                </h3>
                <div class="meta-info">&nbsp;&nbsp;{{post.pub_date|timesince}}&nbsp;&nbsp;</div>
            </div>
            <div class="clear"></div>
        </div>
    {% endfor %}
{% endblock %}


{% block recent_comments %}
    {% for comment in recent_comments %}
        <div class="cat_style_item cat_style_3_item comment_style_item">
            <div class="cat_style_image">
                <div class="cat_style_photo">
                    <a href="#123">
                        <img src="static/assets/images/comments.png" alt="Comment" title="Merrasse Mouhcine" />
                    </a>
                </div>
            </div>
            <div class="speacer"></div>
            <div class="cat_style_info">
                <h3>
                    <a href="#123">{{comment.body}}</a>
                </h3>
                <div class="meta-info">
                    <span class="fa fa-clock-o"></span>&nbsp;&nbsp;{{comment.pub_date|date:"F j, Y"}}
                </div>
            </div>
            <div class="clear"></div>
        </div>
    {% endfor %}
{% endblock %}
