{% extends 'base_with_structure.html' %}

{% block sidebar %}
<div id="content">
	<h2>About Us</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, ullam, eveniet maiores reprehenderit nihil tenetur voluptates aliquid ipsam ex iusto inventore blanditiis accusamus illo deleniti possimus officiis autem voluptatem at.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, qui, quod, corrupti deleniti nam nobis sint saepe aspernatur tempora facere laborum culpa eos facilis quaerat debitis? Dolor soluta et eum.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, ullam, eveniet maiores reprehenderit nihil tenetur voluptates aliquid ipsam ex iusto inventore blanditiis accusamus illo deleniti possimus officiis autem voluptatem at.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, qui, quod, corrupti deleniti nam nobis sint saepe aspernatur tempora facere laborum culpa eos facilis quaerat debitis? Dolor soluta et eum.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, ullam, eveniet maiores reprehenderit nihil tenetur voluptates aliquid ipsam ex iusto inventore blanditiis accusamus illo deleniti possimus officiis autem voluptatem at.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, qui, quod, corrupti deleniti nam nobis sint saepe aspernatur tempora facere laborum culpa eos facilis quaerat debitis? Dolor soluta et eum.</p>
</div>

{% endblock %}