{% extends 'base.html' %}
{%load popular%}



{% load blog_tags %}

{% block main %}
<div id="content" class="margin-top40">
	<div class="content_container">

			{% block content %}
			{% endblock %}

	</div>

	{% block sidebar %}
		<div class="sidebar_big" style="margin-left:25px">
		<div id="tabbedwidget-3" class="widget-area">
			<script type='text/javascript' src='/static/assets/js/jquery-1.8.2.min.js'>
			</script>
			<script type="text/javascript">var $j=jQuery.noConflict();$j(function(){$j("#tabbedwidget-3").tabs()});
			</script>
			<div class="tabbed_widget cat_style_6">
				<ul class="tabs_ul" style="margin-bottom:30px">
					<li>
						<a href="#popular_posts_01">Popular</a>
					</li>
					<li>
						<a href="#posts_comments02">Comments</a>
					</li>
					<li style="list-style: none; display: inline">
						<div class="clear"></div>
					</li>
				</ul>
			</div>
			<div class="cat_style_3" id="popular_posts_01">
			
			<!-- Popular Post begins -->
{%popularposts%}
			</div>
			<!-- Popular post ends -->


			<!-- Recent comments begins -->
			<div class="cat_style_3" id="posts_comments02">
			{% block recent_comments %}
			{% get_latest_content blog.Comment 4 as recent_comments %}
				{% for comment in recent_comments %}
					<div class="cat_style_item cat_style_3_item comment_style_item">
						<div class="cat_style_image">
							<div class="cat_style_photo">
								<a href="#123">
									<img src="static/assets/images/comments.png" alt="Comment" title="Merrasse Mouhcine" />
								</a>
							</div>
						</div>
						<div class="speacer"></div>
						<div class="cat_style_info">
							<h3>
								<a href="#123">{{comment.body}}</a>
							</h3>
							<div class="meta-info">
								<span class="fa fa-clock-o"></span>&nbsp;&nbsp;{{comment.pub_date|date:"F j, Y"}}
							</div>
						</div>
						<div class="clear"></div>
					</div>
				{% endfor %}
			{% endblock %}
			</div>
			<!-- Recent Comments ends -->

		</div>


		{% block newletter %}

		{% if UP %}
		<div class="join_newsletter">
			<div class="nice_heading">
				<h3>
					Newsletter Subscription
				</h3>
			</div>
				<a href="/newsletter/"><input type="submit" value="Manage" class="submit-button" name="" id="submit-button"></a>
		
				<div class="clear"></div>
			</form>
		</div>

		{% else %}

		<div class="join_newsletter">
			<div class="nice_heading">
				<h3>
					Join our Newsletter
				</h3>
			</div>

			<form action="newsletter/newsletter/subscribe/" enctype="multipart/form-data" method="post" id="join_newsletter" name="contact-form">
			{% csrf_token %}
				<p>
					Subscribe to our free weekly newsletter for news and new courses
				</p><input placeholder="Enter your email address" type="text" id="id_email_field" name="email_field" class="field"> <input type="submit" value="Subscribe" class="submit-button" name="" id="submit-button">
				<div class="clear"></div>
			</form>
		</div>
		{% endif %}
		{% endblock%}


		{% block archive %}
		<div class="archive">
			<div class="nice_heading">
				<h3>
					Archive
				</h3>
			</div>
			<ul>
				<li>
					<a href="#123">March 2013</a>
				</li>
				<li>
					<a href="#123">February 2013</a>
				</li>
				<li>
					<a href="#123">January 2013</a>
				</li>
				<li>
					<a href="#123">December 2012</a>
				</li>
				<li>
					<a href="#123">May 2012</a>
				</li>
			</ul>
		</div>
		{% endblock %}


		{% block video %}
		<div class="video">
			<div class="nice_heading">
				<h3>
					Video Box
				</h3>
			</div>
			<div>
				<img src="/static/assets/images/video_images.jpg">
			</div>
		</div>
		{% endblock %}

		{% block popular_tags %}
		<div class="popular_tags">
			<div class="nice_heading">
				<h3>
					Popular Tags
				</h3>
			</div>
			<div class="tagcloud">
                 {%populartags%}
			</div>
		</div>
		{% endblock %}
	</div>
	{% endblock %}
	
</div>
{% endblock %}