				<!-- Slider Begins -->
				<div class="wrapper-wrapper">
				<div class="slider_container_full">
					<div class="slider_container">
						<div class="slider-2-container">
							<div id="slider-2" class="slider-3">
								<div class="bxslider_controls">
									<span class="next fa fa-chevron-right" id="bxslider_next"></span> <span class="prev fa fa-chevron-left" id="bxslider_prev"></span>
								</div>
								<div class="bxslider bxslider_2">
									<div class="bxslider_item">
										<div class="bxslider_photo">
											<img src="/static/assets/images/slider_img01.jpg" class="attachment-very-large wp-post-image" alt="Slider Images01">
											<div class="bxslider_info">
												<div class="date">
													<table>
														<tr>
															<td>
																<a href="#" class="date_cat">Documentaries</a> <span class="date_day">18</span> <span class="date_month">Dec</span>
															</td>
														</tr>
													</table>
												</div>
												<h2>
													<a href="#123" title="Fusce vitae accumsan neque">Fusce vitae accumsan neque...</a> <a class="view_more" href="#123">View more</a>
												</h2>
											</div>
										</div>
									</div>
									<div class="bxslider_item">
										<div class="bxslider_photo">
											<img src="/static/assets/images/wallpaper-2-1080x500.jpg" class="attachment-very-large wp-post-image" alt="wallpaper (2)"> <a href='http://vimeo.com/67072277' class='popup-video play_small'></a>
											<div class="bxslider_info">
												<div class="date">
													<table>
														<tr>
															<td>
																<a href="#" class="date_cat">Documentaries</a> <span class="date_day">20</span> <span class="date_month">Dec</span>
															</td>
														</tr>
													</table>
												</div>
												<h2>
													<a href="#123" title="Bayern Munich stars wanted to avoid">Bayern Munich stars wanted...</a> <a class="view_more" href="#123">View more</a>
												</h2>
											</div>
										</div>
									</div>
									<div class="bxslider_item">
										<div class="bxslider_photo">
											<img src="/static/assets/images/06mushrooms-1080x500.jpg" class="attachment-very-large wp-post-image" alt="06mushrooms">
											<div class="bxslider_info">
												<div class="date">
													<table>
														<tr>
															<td>
																<a href="#" class="date_cat">Documentaries</a> <span class="date_day">18</span> <span class="date_month">Dec</span>
															</td>
														</tr>
													</table>
												</div>
												<h2>
													<a href="#123" title="Aenean eu commodo dolor">Aenean eu commodo dolor...</a> <a class="view_more" href="#123">View more</a>
												</h2>
											</div>
										</div>
									</div>
									<div class="bxslider_item">
										<div class="bxslider_photo">
											<img src="/static/assets/images/flamingo-1080x500.jpg" class="attachment-very-large wp-post-image" alt="OLYMPUS DIGITAL CAMERA">
											<div class="bxslider_info">
												<div class="date">
													<table>
														<tr>
															<td>
																<a href="#" class="date_cat">Documentaries</a> <span class="date_day">18</span> <span class="date_month">Dec</span>
															</td>
														</tr>
													</table>
												</div>
												<h2>
													<a href="#123" title="Phasellus convallis lacus eu mi">Phasellus convallis lacus ...</a> <a class="view_more" href="#123">View more</a>
												</h2>
											</div>
										</div>
									</div>
								</div>
								<div class="featured_vids">
									<div class="featured_item" data-slide-index="0">
										<div class="featured_item_photo">
											<a data-slide-index="0" href="#"><img src="/static/assets/images/slider_img_icon01.jpg" class="attachment-small wp-post-image" alt="Slider Image 01"></a>
										</div>
										<div class="featured_item_info">
											<h3>
												<a data-slide-index="0" href="#">Fusce vitae accumsan neque...</a>
											</h3>
											<div class="meta-info">
												&nbsp;&nbsp;2 weeks ago&nbsp;&nbsp;
											</div>
										</div>
										<div class="clear"></div>
									</div>
									<div class="featured_item" data-slide-index="1">
										<div class="featured_item_photo">
											<a data-slide-index="1" href="#"><img src="/static/assets/images/wallpaper-2-200x113.jpg" class="attachment-small wp-post-image" alt="wallpaper (2)"></a>
										</div>
										<div class="featured_item_info">
											<h3>
												<a data-slide-index="1" href="#">Bayern Munich stars wanted to avoid...</a>
											</h3>
											<div class="meta-info">
												&nbsp;&nbsp;2 weeks ago&nbsp;&nbsp;
											</div>
										</div>
										<div class="clear"></div>
									</div>
									<div class="featured_item" data-slide-index="2">
										<div class="featured_item_photo">
											<a data-slide-index="2" href="#"><img src="/static/assets/images/06mushrooms-200x113.jpg" class="attachment-small wp-post-image" alt="06mushrooms"></a>
										</div>
										<div class="featured_item_info">
											<h3>
												<a data-slide-index="2" href="#">Aenean eu commodo dolor...</a>
											</h3>
											<div class="meta-info">
												&nbsp;&nbsp;2 weeks ago&nbsp;&nbsp;
											</div>
										</div>
										<div class="clear"></div>
									</div>
									<div class="featured_item" data-slide-index="3">
										<div class="featured_item_photo">
											<a data-slide-index="3" href="#"><img src="/static/assets/images/flamingo-200x113.jpg" class="attachment-small wp-post-image" alt="OLYMPUS DIGITAL CAMERA"></a>
										</div>
										<div class="featured_item_info">
											<h3>
												<a data-slide-index="3" href="#">Phasellus convallis lacus eu mi...</a>
											</h3>
											<div class="meta-info">
												&nbsp;&nbsp;2 weeks ago&nbsp;&nbsp;
											</div>
										</div>
										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
				<!-- Slider Ends -->

				<!-- Blog Listing n Group Listing Begins -->

							<div class="content_container">
					<div class="nice_heading">
						<h3>
							Blogs <span><a title="view all" href="#123">view all</a></span>
						</h3>
					</div>
					<div class="blog_section">
						<div class="blogs">
							<div class="cat_style_image">
								<img src="/static/assets/images/blog_img01.jpg">
							</div>
							<div class="speacer"></div>
							<div class="cat_style_info">
								<h3>
									Lorem Ipsum is simply dummy
								</h3><span>April 21, 2013</span>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...
								</p>
								<div class="readmore">
									<a href="#123">Read More </a>
								</div>
								<div class="meta-info">
									3 weeks ago <a title="No comments" href="#123">No comments</a>
								</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="blogs">
							<div class="cat_style_image">
								<img src="/static/assets/images/blog_img02.jpg">
							</div>
							<div class="speacer"></div>
							<div class="cat_style_info">
								<h3>
									Lorem Ipsum is simply dummy
								</h3><span>April 21, 2013</span>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...
								</p>
								<div class="readmore">
									<a href="#123">Read More </a>
								</div>
								<div class="meta-info">
									3 weeks ago <a title="No comments" href="#123">No comments</a>
								</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="blogs">
							<div class="cat_style_image">
								<img src="/static/assets/images/blog_img03.jpg">
							</div>
							<div class="speacer"></div>
							<div class="cat_style_info">
								<h3>
									Lorem Ipsum is simply dummy
								</h3><span>April 21, 2013</span>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...
								</p>
								<div class="readmore">
									<a href="#123">Read More </a>
								</div>
								<div class="meta-info">
									3 weeks ago <a title="No comments" href="#123">No comments</a>
								</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="blogs">
							<div class="cat_style_image">
								<img src="/static/assets/images/blog_img04.jpg">
							</div>
							<div class="speacer"></div>
							<div class="cat_style_info">
								<h3>
									Lorem Ipsum is simply dummy
								</h3><span>April 21, 2013</span>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...
								</p>
								<div class="readmore">
									<a href="#123">Read More </a>
								</div>
								<div class="meta-info">
									3 weeks ago <a title="No comments" href="#123">No comments</a>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="nice_heading">
						<h3>
							groups <span><a title="view all" href="#123">view all</a></span>
						</h3>
					</div>
					<div class="groups_section">
						<div class="blogs">
							<div class="cat_style_image">
								<img src="/static/assets/images/groups_img01.jpg">
							</div>
							<div class="speacer"></div>
							<div class="cat_style_info">
								<h3>
									Lorem Ipsum is simply dummy
								</h3>
								<div class="meta-info">
									04 July, 2013 <a title="Comment" href="#123">0</a>
								</div>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...
								</p>
								<div class="readmore">
									<a href="#123">Read More </a>
								</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="groups_section-01">
							<div class="blogs">
								<div class="group_box_img">
									<img src="/static/assets/images/groups_img02.jpg">
								</div>
								<div class="group_info">
									<h3>
										Lorem Ipsum is simply
									</h3>
									<div class="meta-info">
										04 July, 2013 <a title="Comment" href="#123">0</a>
									</div>
									<p>
										Lorem Ipsum is simply dummy text of the printing and type
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="speacer"></div>
							<div class="blogs">
								<div class="group_box_img">
									<img src="/static/assets/images/groups_img03.jpg">
								</div>
								<div class="group_info">
									<h3>
										Lorem Ipsum is simply
									</h3>
									<div class="meta-info">
										04 July, 2013 <a title="Comment" href="#123">0</a>
									</div>
									<p>
										Lorem Ipsum is simply dummy text of the printing and type
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="blogs">
								<div class="group_box_img">
									<img src="/static/assets/images/groups_img04.jpg">
								</div>
								<div class="group_info">
									<h3>
										Lorem Ipsum is simply
									</h3>
									<div class="meta-info">
										04 July, 2013 <a title="Comment" href="#123">0</a>
									</div>
									<p>
										Lorem Ipsum is simply dummy text of the printing and type
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="speacer"></div>
							<div class="blogs">
								<div class="group_box_img">
									<img src="/static/assets/images/groups_img05.jpg">
								</div>
								<div class="group_info">
									<h3>
										Lorem Ipsum is simply
									</h3>
									<div class="meta-info">
										04 July, 2013 <a title="Comment" href="#123">0</a>
									</div>
									<p>
										Lorem Ipsum is simply dummy text of the printing and type
									</p>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
				</div>

				<!-- blog listing n group listing ends -->